# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Python
backend/venv
backend/__pycache__
backend/**/__pycache__
backend/*.pyc
backend/.pytest_cache
backend/data/*.db

# Node
frontend/node_modules
frontend/dist

# Docker
docker-compose*.yml

# Env
.env
.env.*

# Docs
*.md
LICENSE

# OS
.DS_Store
Thumbs.db
